@charset "utf-8";

body {
	margin: 0;
}
.container {
	margin: 0 auto;
	padding: 0 16px 0 16px;
	width: 980px; /* max-width 대신에 width를 사용한다 */
}

/* 
 
각 파트에 패딩, 배경, 텍스트 색 등을 지정한다
<div class="container">의 자식 요소에 지정한다
*/
.header-inner {
	padding: 10px 10px 0 10px;
	background: #bad7f5;
}
.nav-inner {
	padding: 10px 10px 0 10px;
	color: #fff;
	background: #0086f9;
}
.main-inner {
	padding: 20px 10px 20px 10px;
	background: #fffde3;

/* 
	 레이아웃을 이해하기 쉽도록 높이를 설정.
	 일반 웹디자인에선 높이를 지정하지 않는다.
	*/
	height: 400px;
}
.sidebar-inner {
	padding: 20px 10px 20px 10px;
	background: #c0f5b9;
}
.footer-inner {
	padding: 20px 16px 10px 16px;
	background: #bad7f5;
}

/* 구조를 알기 쉽도록 하는 CSS */
body {
	color: #444;
}
main p:last-child {
	margin-bottom: 0;
}
.main-title {
	margin: 0;
}
.copyright {
	margin: 0;
}