<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<meta name="description" content="子どもから大人まで、プログラミングを学ぶなら、Codera。">
<title>プログラミングスクールCodera</title>
<link rel="stylesheet" href="../css/normalize.css">
<link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="position-lock">
<!-- ========== header ========== -->
<header>
	<div class="container header-container">
		<div class="header-inner">
			<h1 class="header-logo"><a href="../">
				<img src="../images/logo.png" srcset="../images/logo.png 1x,
				                                      ../images/logo@2x.png 2x" alt="Codera">
			</a></h1>
			<button class="menu-btn" id="mobile-menu"></button>
		</div>
	</div><!-- /header-container -->
</header>
<!-- ========== /header ========== -->
<!-- ========== nav ========== -->
<nav>
	<div class="container nav-container">
	   	<ul class="navbar">
		    <li><a href="../">ホーム</a></li>
			<li><a href="../course/">コース紹介</a></li>
		    <li><a href="../qanda/">よくある質問</a></li>
		    <li><a href="../contact/">お申し込み</a></li>
	    </ul>
	</div><!-- /nav-container -->
</nav>
<!-- ========== /nav ========== -->
</div><!-- /.position-lock -->
<!-- ========== main ========== -->
<section class="main">
	<div class="container">
		<main>
			
		</main>
	</div><!-- /.container -->
</section>
<!-- ========== /main ========== -->

<!-- ========== footer ========== -->
<footer>
	<div class="container footer-container">
	   	<ul class="footer-nav">
			<li><a href="../course/">コース紹介</a></li>
		    <li><a href="../qanda/">よくある質問</a></li>
		    <li><a href="../contact/">お申し込み</a></li>
	    </ul><!-- /.footer-nav -->
		<p class="footer-copyright">
		&copy; codera
		</p><!-- /.footer-copyright -->
	</div><!-- /.footer-container -->
</footer>
<!-- ========== /footer ========== -->

<script src="../script/script.js"></script>
</body>
</html>
